$main: "school";
$child: "box";
$language: "en"; // English
$gap: 20px;

.#{$main} {
    padding: $gap;

    @if ($language =="en") {
        direction: ltr;
    }

    @else if ($language =="ar") {
        direction: rtl;
    }

    margin-left: $gap;
}

.#{$main} .#{$main}-#{$child} {
    padding: 10px;
}

.#{$main}:hover .#{$main}-#{$child} {
    background-color: #eee;
}

$number: 5;

@if ($number > 8) {
    .class {
        color: blue;
    }
}

@else if ($number > 5) {
    .class {
        color: green;
    }
}

@else {
    .class {
        color: red;
    }
}

$my_number: 10;
$color: red;
$theme: light;

@if ($my_number > 5 && $color ==red && $theme !="dark") {
    .class {
        color: red;
    }
}

$louk_number: 9;

@if ($louk_number ==10) {
    .box {
        background-color: #EEE;
        text-align: center;
    }
}

@else if ($louk_number ==9) {
    .box {
        background-color: #EEE;
    }
}

@mixin arrow($top) {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    border-bottom-color: red;
}

.element {
    &:before {
        @include arrow("top");
    }
}

@mixin arrow($right) {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    border-left-color: red;
}

.element {
    &:before {
        @include arrow("right");
    }
}

@mixin arrow($bottom) {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    border-top-color: red;
}

.element {
    &:before {
        @include arrow("bottom");
    }
}

@mixin arrow($left) {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    border-right-color: red;
}

.element {
    &:before {
        @include arrow("left");
    }
}

@for $i from 1 through 16 {
    .col-#{$i} {
        width: $i * 6.25%;
    }
}